@charset "utf-8";

body {
   width: 980px;
   margin: 20px auto;
   div {
     padding: 5px;
     margin: 5px;
   }
}
.wrap {
  width: 980px;
  margin: 20px auto;
  div {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
  }
}