@charset "utf-8";
/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Lobster";
  src: url("../fonts/lobster_1.3-webfont.eot");
  src: url("../fonts/lobster_1.3-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lobster_1.3-webfont.svg") format("svg"), url("../fonts/lobster_1.3-webfont.woff") format("woff"), url("../fonts/lobster_1.3-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueUL";
  src: url("../fonts/helveticaneue-ultralight-webfont.eot");
  src: url("../fonts/helveticaneue-ultralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-ultralight-webfont.svg") format("svg"), url("../fonts/helveticaneue-ultralight-webfont.woff") format("woff"), url("../fonts/helveticaneue-ultralight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 50, icons/*.png */
.icons-sprite, .checkbox .unchecked, .checkbox .checked {
  background: url('../images/icons-s5e07dd2c7f.png') no-repeat;
}

/* line 16, ../sass/_mixin.scss */
.cf:before, .cf:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 22, ../sass/_mixin.scss */
.cf:after {
  clear: both;
}

/* line 16, ../sass/_mixin.scss */
.layout-main:before, .layout-main:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 22, ../sass/_mixin.scss */
.layout-main:after {
  clear: both;
}

/* line 19, ../sass/_layout.scss */
.col {
  float: left;
}

/* line 22, ../sass/_layout.scss */
.col10 {
  width: 10%;
}

/* line 25, ../sass/_layout.scss */
.col15 {
  width: 15%;
}

/* line 28, ../sass/_layout.scss */
.col20 {
  width: 20%;
}

/* line 31, ../sass/_layout.scss */
.col30 {
  width: 30%;
}

/* line 34, ../sass/_layout.scss */
.col35 {
  width: 35%;
}

/* line 37, ../sass/_layout.scss */
.col50 {
  width: 50%;
}

/* line 40, ../sass/_layout.scss */
.col60 {
  width: 60%;
}

/* line 43, ../sass/_layout.scss */
.col70 {
  width: 70%;
}

/* line 46, ../sass/_layout.scss */
.col80 {
  width: 80%;
}

/* line 49, ../sass/_layout.scss */
.col85 {
  width: 85%;
}

/* line 52, ../sass/_layout.scss */
.col90 {
  width: 90%;
}

/* line 16, ../sass/_mixin.scss */
.task-layout:before, .task-layout:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 22, ../sass/_mixin.scss */
.task-layout:after {
  clear: both;
}

/* line 6, ../sass/_common.scss */
html, body {
  height: 100%;
}

/* line 9, ../sass/_common.scss */
.layout-left {
  float: left;
}

/* line 12, ../sass/_common.scss */
.left {
  float: left;
}

/* line 15, ../sass/_common.scss */
.layout-right {
  float: right;
}

/* line 18, ../sass/_common.scss */
.right {
  float: right;
}

/* line 21, ../sass/_common.scss */
a {
  text-decoration: none;
  color: #666;
}

/* line 25, ../sass/_common.scss */
a:focus {
  outline: none;
}

/* line 28, ../sass/_common.scss */
input {
  border: none;
  padding: 0;
}

/* line 33, ../sass/_common.scss */
input:focus,
textarea:focus {
  outline: none;
  border: none;
}

/* line 38, ../sass/_common.scss */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 42, ../sass/_common.scss */
button {
  border: none;
  box-shadow: none;
}

/* line 46, ../sass/_common.scss */
label {
  cursor: pointer;
}

/* line 51, ../sass/_common.scss */
body {
  background: #fff;
  font: 100 62.5%/1.2 'Helvetica', Arial, Sans-serif;
  color: #666;
  background-color: #F4F7F1;
}

/* line 60, ../sass/_common.scss */
.wrapper {
  width: 980px;
  margin: 0 auto;
  position: relative;
}

/*CHECKBOX*/
/* line 68, ../sass/_common.scss */
.checkbox .checked,
.checkbox .unchecked {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  text-decoration: none;
}

/* line 76, ../sass/_common.scss */
.checkbox .unchecked {
  background-position: 0 -20px;
}

/* line 79, ../sass/_common.scss */
.checkbox .checked {
  background-position: 0 0;
}

/* line 82, ../sass/_common.scss */
.checkbox .checkbox-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.3em;
  color: #666;
}

/*[HOMEPAGE] HEADER*/
/* line 3, ../sass/_launch.scss */
.launch {
  position: relative;
}

/* line 7, ../sass/_launch.scss */
.launch-pos {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 200px;
  margin-left: -400px;
  width: 800px;
}

/* line 17, ../sass/_launch.scss */
.launch .cube1 {
  display: block;
  margin-top: 33px;
  height: 200px;
  position: relative;
  z-index: 1;
  width: 248px;
}
/* line 24, ../sass/_launch.scss */
.launch .cube1:hover {
  cursor: default;
}
/* line 27, ../sass/_launch.scss */
.launch .cube1 .cube-text {
  color: #FFFFFF;
  font-weight: bold;
  left: 4px;
  position: absolute;
  top: 67px;
}
/* line 35, ../sass/_launch.scss */
.launch .cube1 .cube-text h1 {
  color: #fff;
  font-size: 3.6em;
}
/* line 40, ../sass/_launch.scss */
.launch .cube1 .cube-inner {
  background: none repeat scroll 0 0 #94CD4C;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #94cd4c), color-stop(100%, #a0d360));
  background-image: -webkit-linear-gradient(left top, #94cd4c, #a0d360);
  background-image: -moz-linear-gradient(left top, #94cd4c, #a0d360);
  background-image: -o-linear-gradient(left top, #94cd4c, #a0d360);
  background-image: linear-gradient(left top, #94cd4c, #a0d360);
}
/* line 43, ../sass/_launch.scss */
.launch .cube1 .cube-inner:hover {
  margin-top: -15px;
}
/* line 48, ../sass/_launch.scss */
.launch .cube2 {
  display: block;
  height: 340px;
  left: 211px;
  position: absolute;
  top: -58px;
  width: 345px;
  z-index: 3;
}
/* line 56, ../sass/_launch.scss */
.launch .cube2:hover {
  cursor: default;
}
/* line 59, ../sass/_launch.scss */
.launch .cube2 .cube-text {
  color: #FFFFFF;
  font-weight: 100;
  left: 12px;
  position: absolute;
  right: 24px;
  top: 32px;
  width: 309px;
}
/* line 67, ../sass/_launch.scss */
.launch .cube2 .cube-text p {
  font-family: "Lobster",'Helvetica', Arial, Sans-serif;
  font-size: 2.2em;
  margin: 0 0 24px 0;
}
/* line 71, ../sass/_launch.scss */
.launch .cube2 .cube-text p strong {
  cursor: pointer;
  border-bottom: 1px solid #fff;
}
/* line 74, ../sass/_launch.scss */
.launch .cube2 .cube-text p strong:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
/* line 80, ../sass/_launch.scss */
.launch .cube2 .cube-inner {
  background: #0066CC;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #0066cc), color-stop(100%, #4da6ff));
  background-image: -webkit-linear-gradient(left top, #0066cc, #4da6ff);
  background-image: -moz-linear-gradient(left top, #0066cc, #4da6ff);
  background-image: -o-linear-gradient(left top, #0066cc, #4da6ff);
  background-image: linear-gradient(left top, #0066cc, #4da6ff);
}
/* line 85, ../sass/_launch.scss */
.launch .cube2 .cube-inner:hover {
  margin-top: -15px;
}
/* line 90, ../sass/_launch.scss */
.launch .cube3 {
  display: block;
  height: 222px;
  left: 475px;
  position: absolute;
  top: -12px;
  width: 326px;
  z-index: 2;
}
/* line 98, ../sass/_launch.scss */
.launch .cube3 .cube-text {
  left: 95px;
  position: absolute;
  top: 16px;
}
/* line 103, ../sass/_launch.scss */
.launch .cube3 .cube-inner {
  background: #fff;
}
/* line 105, ../sass/_launch.scss */
.launch .cube3 .cube-inner:hover {
  margin-top: -15px;
}

/* line 114, ../sass/_launch.scss */
.launch .cube-inner {
  background-color: #FFFFFF;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 47px 29px -27px rgba(146, 161, 173, 0.9);
  height: 100%;
  position: absolute;
  -webkit-transition: margin-top 0.5s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: margin-top 0.5s ease 0s;
  -o-transition: margin-top 0.5s ease 0s;
  transition: margin-top 0.5s ease 0s;
  width: 100%;
}
/* line 125, ../sass/_launch.scss */
.launch .cube-cover {
  height: 100%;
  opacity: 0.7;
  position: absolute;
  width: 100%;
}
/* line 132, ../sass/_launch.scss */
.launch .cube-shadow {
  height: 100%;
  position: absolute;
  width: 100%;
  box-shadow: -14px 0 7px -2px rgba(0, 0, 0, 0.2) inset;
}
/* line 139, ../sass/_launch.scss */
.launch .cube-border {
  display: block;
  border-bottom: 11px solid #D3D9DC;
  border-left: 18px dashed rgba(0, 0, 0, 0);
  border-right: 18px dashed rgba(0, 0, 0, 0);
  position: relative;
  top: -11px;
}
/* line 146, ../sass/_launch.scss */
.launch .cube-border:after {
  box-shadow: 0 -4px 4px 1px rgba(255, 255, 255, 0.4);
  content: "";
  height: 1px;
  left: -3%;
  position: absolute;
  top: 10px;
  width: 106%;
}

/* line 160, ../sass/_launch.scss */
.launch .btn-project-create {
  background: none repeat scroll 0 0 #94CD4C;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  display: inline-block;
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1;
  padding: 8px 35px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  margin: 36px 0 0 0;
}
/* line 177, ../sass/_launch.scss */
.launch input[type="text"] {
  color: #000;
  background: #fff;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.4em;
  line-height: 1;
  margin: 0 0 10px 0;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5) inset;
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  padding: 7px 12px;
  width: 100%;
}
/* line 61, ../sass/_mixin.scss */
.launch input[type="text"].placeholder {
  color: black;
}
/* line 64, ../sass/_mixin.scss */
.launch input[type="text"]:-moz-placeholder {
  color: black;
}
/* line 67, ../sass/_mixin.scss */
.launch input[type="text"]::-webkit-input-placeholder {
  color: black;
}
/* line 194, ../sass/_launch.scss */
.launch form label {
  color: #000000;
  display: block;
  font-size: 1.6em;
  margin: 0 0 2px;
}

/* line 203, ../sass/_launch.scss */
.launch-footer {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #0066cc), color-stop(100%, #4da6ff));
  background-image: -webkit-linear-gradient(left top, #0066cc, #4da6ff);
  background-image: -moz-linear-gradient(left top, #0066cc, #4da6ff);
  background-image: -o-linear-gradient(left top, #0066cc, #4da6ff);
  background-image: linear-gradient(left top, #0066cc, #4da6ff);
  position: absolute;
  left: -61px;
  top: 38px;
  width: 254px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  text-align: center;
}
/* line 211, ../sass/_launch.scss */
.launch-footer p {
  color: #FFFFFF;
  font-size: 1.5em;
  padding: 7px 0 2px;
  text-align: center;
}
/* line 218, ../sass/_launch.scss */
.launch-footer span {
  color: #FFFFFF;
  display: block;
  font-size: 1.2em;
  font-style: italic;
  margin: 0 0 1px;
}
/* line 224, ../sass/_launch.scss */
.launch-footer span a {
  color: #fff;
}
/* line 227, ../sass/_launch.scss */
.launch-footer span:last-child {
  margin: 0 0 3px;
}

@media screen and (max-width: 979px) {
  /* line 15, ../sass/_mediaqueries.scss */
  .wrapper {
    width: 100%;
  }
}
/* line 3, ../sass/_test.scss */
body {
  width: 980px;
  margin: 20px auto;
}
/* line 6, ../sass/_test.scss */
body div {
  padding: 5px;
  margin: 5px;
}

/* line 11, ../sass/_test.scss */
.wrap {
  width: 980px;
  margin: 20px auto;
}
/* line 14, ../sass/_test.scss */
.wrap div {
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
}
